<div>
  <div>
    <h3><strong>Here is information about client:</strong></h3>
  </div>
  <div>
	<p>Ip: {{ ip }};</p>
	<p>Host: {{ host }};</p>
  <p>Request: {{ controller_request_browser }};</p>
	<p>Current browser: {{ browser_name }};</p>
  </div>
</div>
